<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kermit</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.3/dist/full.css" rel="stylesheet" type="text/css" />
    
</head>
<body>
    <h1 class="text-3xl text-center my-4">Kermit Dashboard</h1>

    <div class="flex gap-2 mx-2 flex-wrap justify-center">
        <div class="w-96 card bg-base-100 shadow-xl">
            <div class="card-body">
                <figure><img class="mb-3 h-48" src="https://upload.wikimedia.org/wikipedia/commons/7/7b/Plex_logo_2022.svg" alt="Plex Media Server Logo" /></figure>
                <h2 class="card-title">Plex Media Server</h2>
                <p>Access the dashboard for Plex.</p>
                <div class="card-actions justify-end">
                    <a id="plex-link" href="http://kermit.lan:32400" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>

        <div class="w-96 card bg-base-100 shadow-xl">
            <div class="card-body">
                <figure><img class="mb-3 h-48" src="https://upload.wikimedia.org/wikipedia/commons/9/9e/UbuntuCoF.svg" alt="Ubuntu Logo" /></figure>
                <h2 class="card-title">System Information</h2>
                <p>View system information including RAID array status.</p>
                <div class="card-actions justify-end">
                    <a id="plex-link" href="/status" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    let el = document.getElementById("plex-link");
    el.href = "http://" + window.location.hostname + ":32400"
</script>
</html>