<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello from flask</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.3/dist/full.css" rel="stylesheet" type="text/css" />
    
</head>
<body>
    <h1 class="text-3xl text-center my-4">Kermit Status</h1>

    <div class="w-11/12 mx-auto shadow-xl rounded-xl p-5">
        <h2 class="text-lg font-bold">RAID Array Status</h2>
        <pre class="bg-base-300 p-2 rounded-md whitespace-pre-wrap">{{ mdstat_output }}</pre>
    </div>

    <div class="w-11/12 mx-auto shadow-xl rounded-xl p-5">
        <h2 class="text-lg font-bold">Sensors</h2>
        <pre class="bg-base-300 p-2 rounded-md whitespace-pre-wrap">{{ sensors }}</pre>
    </div>
    
    <div class="w-11/12 mx-auto shadow-xl rounded-xl p-5">
        <h2 class="text-lg font-bold">HDD Temperatures</h2>
        <pre class="bg-base-300 p-2 rounded-md whitespace-pre-wrap">{{ hddtemp }}</pre>
    </div>

    <div class="w-11/12 mx-auto shadow-xl rounded-xl p-5">
        <h2 class="text-lg font-bold">File Server Status (SMB)</h2>
        <pre class="bg-base-300 p-2 rounded-md whitespace-pre-wrap">{{ smb_status }}</pre>
    </div>

    <div class="w-11/12 mx-auto shadow-xl rounded-xl p-5">
        <h2 class="text-lg font-bold">Active Connections</h2>
        <pre class="bg-base-300 p-2 rounded-md whitespace-pre-wrap">{{ net_connections }}</pre>
    </div>

    
</body>
</html>